<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="HockeyApp.AppLoader.Util.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="HockeyUploaderConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="HockeyApp.AppLoader.Util.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        <section name="HockeyUploaderConsole.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.0" newVersion="1.5.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <HockeyApp.AppLoader.Util.Settings>
      <setting name="ThreadTokens" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Configuration" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultApiBase" serializeAs="String">
        <value>https://rink.hockeyapp.net/api/2/</value>
      </setting>
      <setting name="LastFeedbackUserEMail" serializeAs="String">
        <value />
      </setting>
      <setting name="LastFeedbackUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="AAPTPath" serializeAs="String">
        <value />
      </setting>
    </HockeyApp.AppLoader.Util.Settings>
    <HockeyUploaderConsole.Properties.Settings>
      <setting name="ThreadTokens" serializeAs="String">
        <value />
      </setting>
      <setting name="Configuration" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultApiBase" serializeAs="String">
        <value>https://rink.hockeyapp.net/api/2/</value>
      </setting>
      <setting name="LastFeedbackUserEMail" serializeAs="String">
        <value />
      </setting>
      <setting name="LastFeedbackUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="AAPTPath" serializeAs="String">
        <value />
      </setting>
    </HockeyUploaderConsole.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <HockeyApp.AppLoader.Util.Settings>
      <setting name="AppID_orig" serializeAs="String">
        <value>26ec1e89aca921a016b9f2aaba8a916c</value>
      </setting>
      <setting name="AppID" serializeAs="String">
        <value>3332a5ac68033947aba42b14c511973c</value>
      </setting>
    </HockeyApp.AppLoader.Util.Settings>
    <HockeyUploaderConsole.Properties.Settings>
      <setting name="AppID_orig" serializeAs="String">
        <value>26ec1e89aca921a016b9f2aaba8a916c</value>
      </setting>
      <setting name="AppID" serializeAs="String">
        <value>3332a5ac68033947aba42b14c511973c</value>
      </setting>
    </HockeyUploaderConsole.Properties.Settings>
  </applicationSettings>
</configuration>
