<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="HockeyApp" Language="1033" Version="1.0.0" Manufacturer="Bit Stadium GmbH" UpgradeCode="86A59F80-0F6B-408A-99F9-2E4A64632B46">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" Description="HockeyAppSetup" Manufacturer="Bit Stadium GmbH" InstallPrivileges="elevated" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." AllowSameVersionUpgrades="yes" />
    <MediaTemplate EmbedCab="yes"/>

    <Feature Id="ProductFeature" Title="HockeyApp" Level="1"  ConfigurableDirectory="INSTALLFOLDER" Description="HockeyApp" Display="expand">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentRef Id="ProgramMenuDir" />
    </Feature>

    <Icon Id="hockey_logo.ico" SourceFile="./hockey_logo.ico" />
    

    <UIRef Id="WixUI_Mondo" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" ></Property>

    <WixVariable Id="WixUILicenseRtf" Value="Lizenz.rtf" />
    <WixVariable Id="WixUIDialogBmp" Value="Banner.bmp" />
    <WixVariable Id="WixUIBannerBmp" Value="Banner2.bmp" />
    

    <Property Id="ARPPRODUCTICON" Value="hockey_logo.ico" />

  </Product> 

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder"> 
        <Directory Id="INSTALLFOLDER" Name="HockeyApp" />
      </Directory>
      <Directory Id="ProgramMenuFolder" Name="Programs">
        <Directory Id="ProgramMenuDir" Name="HockeyApp"> 
        </Directory>
      </Directory>
    </Directory> 
  </Fragment>

  <Fragment>
    <Component Id="ProgramMenuDir" Guid="*" Directory="ProgramMenuDir">
      <RemoveFolder Id='ProgramMenuDir' On='uninstall' />
      <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
    </Component>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="ProductComponent">
        <File Id="HockeyAppExe" Name="HockeyApp.exe" Source="$(var.HockeyUpload.TargetDir)HockeyUpload.exe" KeyPath="yes" >
          <Shortcut Id="startmenuProgramShortcut" Directory="ProgramMenuDir" Name="HockeyApp" WorkingDirectory="INSTALLFOLDER" Icon="hockey_logo.ico" Advertise="yes" />
        </File>

        <!-- Capabilities keys for Vista/7 "Set Program Access and Defaults" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\HockeyUpload\Capabilities" Name="ApplicationDescription" Value="HockeyApp" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\HockeyUpload\Capabilities" Name="ApplicationIcon" Value="[INSTALLFOLDER]HockeyApp.exe,0" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\HockeyUpload\Capabilities" Name="ApplicationName" Value="HockeyApp" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\HockeyUpload\Capabilities\DefaultIcon" Value="[INSTALLFOLDER]HockeyApp.exe,1" Type="string" />        


        <RegistryValue Root="HKLM" Key="SOFTWARE\HockeyApp" Name="ApplicationFolder" Value="[INSTALLFOLDER]" Type="string" />

        <!-- App Paths to support Start,Run -> "myapp" -->
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\HockeyApp.exe" Value="[!HockeyApp.exe]" Type="string" />
        <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\HockeyApp.exe" Name="Path" Value="[INSTALLFOLDER]" Type="string" />


     
      </Component>

      <Component Id='Args' Guid='*'>
        <File Id="Args" Name="Args.dll" Source="$(var.HockeyUpload.TargetDir)Args.dll" KeyPath="yes"/>
      </Component>

      <Component Id='CaliburnMicroLib' Guid='*'>
        <File Id='CaliburnMicroDll' Name='Caliburn.Micro.dll' Source='$(var.HockeyUpload.TargetDir)Caliburn.Micro.dll' KeyPath='yes' />
      </Component>

      <Component Id='HockeyAppSDK' Guid='*'>
        <File Id='HockeyAppSDK' Name='HockeyApp.dll' Source='$(var.HockeyUpload.TargetDir)HockeyApp.dll' KeyPath='yes' />
      </Component>
      
      <Component Id='HockeyUploadExeConfig' Guid='*'>
        <File Id="HockeyUploadExeConfig" Name="HockeyApp.exe.config" Source="$(var.HockeyUpload.TargetDir)HockeyUpload.exe.config" KeyPath="yes"/>
      </Component>

      <Component Id='Hoch' Guid='*'>
        <File Id="Hoch" Name="Hoch.exe" Source="$(var.HockeyUploaderConsole.TargetDir)Hoch.exe" KeyPath="yes"/>
      </Component>
      
      <Component Id='HockeyAppPCL' Guid='*'>
        <File Id="HockeyAppPCL" Name="HockeyAppPCL.dll" Source="$(var.HockeyUpload.TargetDir)HockeyAppPCL.dll" KeyPath="yes"/>
      </Component>

      <Component Id='MahAppsMetro' Guid='*'>
        <File Id="MahAppsMetro" Name="MahApps.Metro.dll" Source="$(var.HockeyUpload.TargetDir)MahApps.Metro.dll" KeyPath="yes"/>
      </Component>

      <Component Id='SystemNetHttpFormatting' Guid='*'>
        <File Id="SystemNetHttpFormatting" Name="System.Net.Http.Formatting.dll" Source="$(var.HockeyUpload.TargetDir)System.Net.Http.Formatting.dll" KeyPath="yes"/>
      </Component>


      <Component Id='CaliburnMicroLogging' Guid='*'>
        <File Id="CaliburnMicroLogging" Name="Caliburn.Micro.Logging.dll" Source="$(var.HockeyUpload.TargetDir)Caliburn.Micro.Logging.dll" KeyPath="yes"/>
      </Component>

      <Component Id='CaliburnMicroLoggingNLog' Guid='*'>
        <File Id="CaliburnMicroLoggingNLog" Name="Caliburn.Micro.Logging.NLog.dll" Source="$(var.HockeyUpload.TargetDir)Caliburn.Micro.Logging.NLog.dll" KeyPath="yes"/>
      </Component>

      <Component Id='NLog' Guid='*'>
        <File Id="NLog" Name="NLog.dll" Source="$(var.HockeyUpload.TargetDir)NLog.dll" KeyPath="yes"/>
      </Component>
      

      <Component Id='InteractivityLib' Guid='*'>
        <File Id='InteractivityDll' Name='System.Windows.Interactivity.dll' Source='$(var.HockeyUpload.TargetDir)System.Windows.Interactivity.dll' KeyPath='yes' />
      </Component>

      <Component Id='WindowsInstallerSDK' Guid='*'>
        <File Id='WindowsInstallerSDK' Name='Microsoft.Deployment.WindowsInstaller.dll' Source='$(var.HockeyUpload.TargetDir)Microsoft.Deployment.WindowsInstaller.dll' KeyPath='yes' />
      </Component>

      <Component Id='WindowsInstallerLinqSDK' Guid='*'>
        <File Id='WindowsInstallerLinqSDK' Name='Microsoft.Deployment.WindowsInstaller.Linq.dll' Source='$(var.HockeyUpload.TargetDir)Microsoft.Deployment.WindowsInstaller.Linq.dll' KeyPath='yes' />
      </Component>

    </ComponentGroup>
  </Fragment>
</Wix>
